@{
    ViewData["Title"] = "Main Page";
}
<body>
<div class="mainheader_img">
  <div class="mainheader_text">
    <h1>Welcome in....</h1>
    <p style="word-wrap: break-word">As you enter the Devil's Dice Tavern, you will step into your fantasy, geared to meet your every DnD need. <br/>With our whimsical features and knickknacks galore, the possibilities are endless. <br/>All yee Dungeon Masters and Players alike will leave content and astonished.</p>
  </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</body>