@{
    ViewData["Title"] = "Signup";
}

<div class="">
 <h1>Sign Up</h1>
 <p>First Name: </p>
 <input type="text" id="firstname" name="firstname"f>
 <p>Last Name: </p>
 <input type="text" id="lastname" name="lastname">
 <p>username: </p>
 <input type="text" id="username" name="username">
 <p>password: </p>
 <ul>
    <li>8 characters long</li>
    <li>At least one upper and lower case letter</li>
    <li>At least one number</li>
    <li>At least one special character</li>
  </ul> 
 <input type="text" id="password" name="password">
 <p>reenter password: </p>
 <input type="text" id="reenterpassword" name="reenterpassword">

</div>

</body>
</html> 