<div class="NewsletterConfirmationPage">
    <div class="Vector1"></div>
    <div class="StyleWidth">
      <div class="Vector2"></div>
      <div class="IlFullxfull4237214488Sn4y1"></div>
      <div class="SignIn">
        <div class="Vector3"></div>
        <div class="Frame300">
          <div class="SignIn2">Thanks for subscribing to our newsletter!</div>
          <div class="Frame297">
            <div class="Label">Your now subscribed to our newsletter! You’ll hear from us shortly.</div>
            <div class="Button">
              <div class="Rectangle20"></div>
              <div class="SignUp">Back To Home Page</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Group15">
      <div class="Rectangle1"></div>
      <div class="Group13">
        <div class="DevilsDiceTavern">Devils Dice Tavern</div>
        <div class="AboutUs">About Us</div>
        <div class="Events">Events</div>
        <div class="OnlineShop">Online Shop</div>
        <div class="LogIn">Log In</div>
        <img class="Weblogo1" src="https://via.placeholder.com/58x73"/>
      </div>
    </div>
    <div class="Footer1">
      <div class="Footer2"></div>
      <div class="Group16">
        <div class="PrivatePolicy">Private Policy</div>
        <div class="Socials">Socials</div>
        <div class="TermsOfService">Terms of Service</div>
        <div class="ContactUs">Contact Us</div>
      </div>
    </div>
  </div>