.NewsletterSignUpPage{
    width: 1920px; 
    height: 1328px; 
    position: relative;
}

.Vector1{
    width: 1920px; 
    height: 1328px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #E5E5E5;
}

.Vector2{
    width: 1920px; 
    height: 1328px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white;
}

.StyleWidth{
    width: 2799px; 
    height: 1328px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.IlFullxfull4237214488Sn4y1{
    width: 2799px; 
    height: 1200px; 
    left: 0px; 
    top: 100px; 
    position: absolute; 
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 88%, black 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%);
}

.SignIn{
    width: 868.22px; 
    height: 753.48px; 
    left: 526.22px; 
    top: 231.49px; 
    position: absolute;
}

.Vector3{
    width: 868.22px; 
    height: 753.48px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: linear-gradient(180deg, rgba(104.12, 79.63, 51.63, 0) 0%, #685034 2%, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0) 94%, #685034 98%, rgba(52.06, 39.81, 25.81, 0) 100%); 
    box-shadow: 0px 4px 6px black;
}

.Frame300{
    width: 707px; 
    height: 548px; 
    left: 79.78px; 
    top: 55.51px; 
    position: absolute;
}

.SignIn2{
    width: 461px; 
    height: 62px; 
    left: 141px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: #612B24; 
    font-size: 48px; 
    font-family: Baskervville SC; 
    font-weight: 400; 
    word-wrap: break-word;
}

.Frame297{
    width: 707px; 
    height: 426px; 
    left: 0px; 
    top: 122px; 
    position: absolute;
}

.Email{
    width: 705px; 
    height: 110px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.Label{
    width: 505px; 
    height: 31px; 
    left: 2px; 
    top: 0px; 
    position: absolute; 
    color: #612B24; 
    font-size: 24px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.TextField2{
    width: 705px; 
    height: 110.75px; 
    left: 0px; 
    top: 144.25px; 
    position: absolute;
}

.Label2{
    width: 158.67px; 
    height: 31.12px; 
    left: 2px; 
    top: 0px; 
    position: absolute; 
    color: #612B24; 
    font-size: 24px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.Rectangle17{
    width: 705px; 
    height: 71px; 
    left: 0px; 
    top: 39.75px; 
    position: absolute; 
    background: linear-gradient(360deg, rgba(138.13, 125.81, 76.54, 0.50) 0%, rgba(132, 126, 77, 0.50) 10%, rgba(196.56, 190.40, 146.12, 0.50) 62%, rgba(138.13, 125.81, 76.54, 0.50) 83%); 
    border-radius: 10px; 
    border: 5px #612B24 solid;
}

.Button{
    width: 707px; 
    height: 77px; 
    left: 0px; 
    top: 349px; 
    position: absolute;
}

.Rectangle20{
    width: 707px; 
    height: 77px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: black; 
    border-radius: 20px;
}

.SignUp{
    width: 169px; 
    height: 42.80px; 
    left: 270px; 
    top: 15px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 36px; 
    font-family: Baskervville SC; 
    font-weight: 400; 
    word-wrap: break-word;
}

.Group15{
    width: 1921px; 
    height: 103px; 
    left: -1px; 
    top: 0px; 
    position: absolute;
}

.Rectangle1{
    width: 1921px; 
    height: 100px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: linear-gradient(0deg, #246153 0%, #246153 100%), linear-gradient(180deg, rgba(102.66, 198.69, 176.65, 0.20) 7%, rgba(0, 0, 0, 0) 9%, rgba(36, 97, 83, 0.20) 66%);
}

.Group13{
    width: 1833.95px; 
    height: 90px; 
    left: 23.01px; 
    top: 13px; 
    position: absolute;
}

.DevilsDiceTavern{
    width: 517.27px; 
    height: 80px; 
    left: 90.05px; 
    top: 10px; 
    position: absolute; 
    color: white; 
    font-size: 36px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.AboutUs{
    width: 133.07px; 
    left: 1700.89px; 
    top: 16px; 
    position: absolute; 
    color: white; 
    font-size: 32px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.Events{
    width: 94.05px; 
    left: 1525.79px; 
    top: 16px; 
    position: absolute; 
    color: white; 
    font-size: 32px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.OnlineShop{
    width: 179.09px; 
    left: 1274.66px; 
    top: 16px; 
    position: absolute; 
    color: white; 
    font-size: 32px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.LogIn{
    width: 96.05px; 
    left: 1103.57px; 
    top: 16px; 
    position: absolute; 
    color: white; 
    font-size: 32px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.Weblogo1{
    width: 58.03px; 
    height: 73px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.Footer1{
    width: 1920px; 
    height: 100px; 
    left: 0px; 
    top: 1228px; 
    position: absolute;
}

.Footer2{
    width: 1920px; 
    height: 100px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: linear-gradient(0deg, #246153 0%, #246153 100%), linear-gradient(0deg, rgba(102.66, 198.69, 176.65, 0.20) 7%, rgba(0, 0, 0, 0) 9%, rgba(36, 97, 83, 0.20) 66%);
}

.Group16{
    width: 835px; 
    height: 100px; 
    left: 531px; 
    top: 0px; 
    position: absolute;
}

.PrivatePolicy{
    width: 148px; 
    height: 100px; 
    left: 467px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.Socials{
    width: 148px; 
    height: 100px; 
    left: 687px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.TermsOfService{
    width: 199px; 
    height: 100px; 
    left: 196px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}

.ContactUs{
    width: 124px; 
    height: 100px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: Baskervville; 
    font-weight: 400; 
    word-wrap: break-word;
}