@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="header px-4">
            <div class="logo"></div>
            <div class="title">Devil's Dice Tavern</div>
            <div class="nav">
                <ul>
                    <li><a href="">Tab One</a></li>
                    <li><a href="">Tab One</a></li>
                    <li><a href="Newsletter">Newsletter</a></li>
                    <li><a href="">Tab One</a></li>
                    <li><a href="">Tab One</a></li>
                    <li><a href="">Tab One</a></li>
                </ul>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="footer-container">
            <footer class="footer">
                <a href="counter" class="footer-text">Contact Us</a>
                <a href="counter" class="footer-text">Privacy Policy</a>
                <a href="counter" class="footer-text">Terms of Service</a>
                <a href="counter" class="footer-text">Socials</a>
            </footer>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
