@page "/Campaign"

<PageTitle>Campaign Manager</PageTitle>

<div class="campaignheader">
    <div class="campaignheader-text">
        <h1 style="font-size: 128px; padding-top: 165px; padding-bottom: 250px; margin-bottom: 0rem;">Campaign Manager</h1>
    </div>
</div>
<div class="mainbody">
    <div class="mainbody-container">
        <div class="mainbody-text">
            <h1 style="font-size: 40px;">My Campaigns</h1>
            <div class="line"></div>
            <p style="word-wrap: break-word; font-size: 25px;"> Active Campaigns</p>
            <p style="word-wrap: break-word; font-size: 20px;"> Your active campaigns are open to new players joining, and take up campaign sharing slots if used within the campaign.</p>
        </div>
    </div>

    <div class="campaign-container">

        <div class="campaign-item">
            <img src="imgs/Scrolls/Vector (6).png" alt="Scroll">
            <div class="text-overlay">
                <h1>Tharizdun’s Awakening</h1>
                <p>Campaign Started: 6/29/2024</p>
                <h2>5</h2>
                <p>Players</p>
                <p>Role: Player</p>
                <p>DM: Username</p>
                <div class="campaignline"></div>
                <a href="/Campaign">
                    <button type="button">View Campaign</button>
                </a>
            </div>
            <div class="profile-icons">
                <img src="/imgs/blank_profile.jpg" alt="Profile 1">
                <img src="/imgs/blank_profile.jpg" alt="Profile 2">
                <img src="/imgs/blank_profile.jpg" alt="Profile 3">
                <img src="/imgs/blank_profile.jpg" alt="Profile 4">
                <img src="/imgs/blank_profile.jpg" alt="Profile 5">
            </div>
        </div>

        <div class="campaign-item">
            <img src="imgs/Scrolls/Vector (7).png" alt="Scroll">
            <div class="text-overlay">
                <h1>Curse of Strahd</h1>
                <p>Campaign Started: 6/29/2024</p>
                <h2>4</h2>
                <p>Players</p>
                <p>Role: Dungeon Master</p>
                <div class="campaignline"></div>
                <a href="/Campaign">
                    <button type="button">View Campaign</button>
                </a>
                <a href="/Campaign">
                    <button type="button">Deactivate</button>
                </a>
                <a href="/Campaign">
                    <button type="button">Delete</button>
                </a>
                
            </div>

            <div class="profile-icons">
                <img src="/imgs/blank_profile.jpg" alt="Profile 1">
                <img src="/imgs/blank_profile.jpg" alt="Profile 2">
                <img src="/imgs/blank_profile.jpg" alt="Profile 3">
                <img src="/imgs/blank_profile.jpg" alt="Profile 4">
            </div>
        </div>
    </div>

    <div class="mainbody-container">
        <div class="mainbody-text">
            <div class="line"></div>
            <h1 style="font-size: 25px;">Deactivated Campaigns</h1>
            <p style="word-wrap: break-word; font-size: 20px;">Your inactive campaigns are closed to new players joining.</p>
        </div>
    </div>

    <div class="campaign-container">
        <div class="campaign-item">
            <img src="imgs/Scrolls/Vector (7).png" alt="Scroll">
            <div class="text-overlay">
                <h1>Descent into Avernus</h1>
                <p>Campaign Started: 6/29/2024</p>
                <h2>6</h2>
                <p>Players</p>
                <p>Role: Dungeon Master</p>
                <div class="campaignline"></div>
                <a href="/Campaign">
                    <button type="button">Activate</button>
                </a>
                <a href="/Campaign">
                    <button type="button">Delete</button>
                </a>
                
            </div>

            <div class="profile-icons">
                <img src="/imgs/blank_profile.jpg" alt="Profile 1">
                <img src="/imgs/blank_profile.jpg" alt="Profile 2">
                <img src="/imgs/blank_profile.jpg" alt="Profile 3">
                <img src="/imgs/blank_profile.jpg" alt="Profile 4">
                <img src="/imgs/blank_profile.jpg" alt="Profile 5">
                <img src="/imgs/blank_profile.jpg" alt="Profile 6">
            </div>
        </div>
    </div>

</div>


<div class="mainfooter">
    <div class="mainfooter-text">
        <div class="icon-placement">
            <img class="icon"src="/imgs/emailicon.png" alt="Text"/>
        </div>
        <div class="mainfooter-text-placement">
            <h2 style="word-wrap: break-word; font-size: 40px;">Subscribe to the newsletter and stay connected with our community</h2>
            <div class="mainfooter-button-placement">
                <button type="newsletter" class="mainfooter-button">Stay Connected!</button>
            </div>
        </div>
    </div>
</div>

<style>
    html, body {
        margin: 0px;
        padding: 0px;
        font-family: Baskerville;
        overscroll-behavior: none;
    }

    .campaignheader {
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        background-image: linear-gradient(rgba(20, 20, 17, 0), rgba(20, 20, 17, 0.85)), url("/imgs/campaign_manager_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }

    .campaignheader-text {
        text-align: center;
        color: white;
    }

    .mainbody {
        position: relative;
        background-image: radial-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.45)), url("/imgs/jane_doe.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 150px;
        padding-right: 0px;
        padding-bottom: 300px; 
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    }

    .mainbody-container {
        display: flex;
        align-items: left;
    }

    .mainbody-text {
        text-align: left;
        color: white;
        padding-left: 80px;
        padding-right: 80px;
    }

    .line {
        width: 90vw;
        align-items: center;
        justify-content: center;
        height: 3px;
        background-color: #ffffff69;
        opacity: 1;
        z-index: 5;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .campaign-container {
        display: flex; 
        justify-content: flex-start; 
        gap: 80px; 
        width: 80%;
        margin-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .campaign-item {
        position: relative; 
        width: 30%;  
        overflow: show;  
        text-shadow: 0px 0px 4px #612B24;
    }

    .campaign-item img {
        width: 100%;  
        height: auto;  
        display: block;  
    }

    .text-overlay {
        position: absolute;  
        top: 50%;  
        left: 50%;  
        transform: translate(-50%, -50%);  
        color: #612B24;  
        background: rgba(0, 0, 0, 0); 
        padding: 10px;
        text-align: center;
        width: 90%; 
        height: 90%;
        border-radius: 10px;
        padding-top: 25px;
    }

    .text-overlay h1 {
        font-size: 1.75vw;
        line-height: 1.5vw;
    }

    .text-overlay h2 {
        font-size: 1.5vw;
        line-height: 1.5vw;
    }

    .text-overlay p {
        margin-top: 10px;
        font-size: 1vw;
        line-height: 1.5vw;
    }

    .profile-icons {
        position: absolute;  
        top: -25px;  
        left: 50%;  
        transform: translateX(-50%);  
        display: flex;  
        gap: 0.5vw;  
        z-index: 10;
    }

    .profile-icons img {
        width: 3vw;  
        height: auto;
        object-fit: cover;  
        border-radius: 10px;
        border-color: #000000;
        border: 2px solid black;
    }

    .campaignline {
        width: 100%;
        height: 3px;
        background-color: #612B24; 
        opacity: 1;  
        z-index: 5;  
    }

    button {
        background-color: #000000;
        color: white;
        margin-top: 0.25vw;
        margin-right: 100px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 0.75vw;
        cursor: pointer;
    }

    button:hover {
        background-color: #2b2b2b;
        text-shadow: 0px 2px 4px #000000;
        color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    }

    button:last-child {
        margin-right: 0px;
    }

     .mainfooter {
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        background-image: linear-gradient(rgba(20, 20, 17, 0.50), rgba(20, 20, 17, 0.50)), url("/imgs/mainpagefooter.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }

    .mainfooter-text {
        text-align: center;
        color: white;
        font-family: Baskerville;
    }

    .icon {
        width: 150px;
        height: 150px;
        align: center;
    }

    .icon-placement {
        padding-top: 40px;
    }

    .mainfooter-text-placement {
        padding-top: 50px;
    }

    .mainfooter-button {
        width: 250px;
        height: 80px;
        font-size: 30px;
        align: center;
        
    }

    .mainfooter-button-placement {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    @@media (max-width: 1504px) {
        .text-overlay h1 {
            font-size: 1.5vw;
            line-height: 0.5vw;
        }

        .text-overlay h2 {
            font-size: 1.25vw;
            line-height: 0.5vw;
        }

        .text-overlay p {
            font-size: 1.25vw;
            line-height: 0.5vw;
        }

        .action-link {
            font-size: 1.25vw;  
            line-height: 0.5vw;
        }

        button {
        margin-top: 0.25vw;
        margin-right: 100px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        font-size: 1vw;
        cursor: pointer;
        }
    }


</style>