@page "/Forgot_Password"

<PageTitle>Forgot Password</PageTitle>

<div class="page-container">
    <div class="mainbody">
        <div class="scroll-container">
            <div class="scroll-textcolumn-item">
                <img src="imgs/Scrolls/Vector (3).png" alt="Scroll">
                <div class="text-overlay">
                    <h1>Forgot Password?</h1>
                    <p>Enter your email and we'll send you a link to reset your password.</p>
                    <form id="emailForm">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" name="email" required>
                        <a href="/Forgot_PasswordConfirmation">
                            <button type="submit">Submit</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
   html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: Baskerville;
        overscroll-behavior: none;
        display: flex;
        flex-direction: column;
    }
    html {
        overflow: hidden;
        height: 100%;
    }

    .page-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .mainbody {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-image: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("/imgs/signup_background.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 250px;
        padding-right: 50px;
        padding-bottom: 250px; 
    }

    .mainbody-container {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .scroll-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 50px;
    }

    .scroll-textcolumn-item {
        position: relative; 
        width: 37%;  
        overflow: show;
        text-shadow: 0px 0px 4px #612B24;
    }

    /* Style for images */
    .scroll-textcolumn-item img {
        width: 100%; 
        height: 90%;  
        display: block;  
    }

    .text-overlay {
        position: absolute;
        top: 45%; 
        left: 50%;  
        transform: translate(-50%, -50%); 
        color: #612B24; 
        padding: 10px;
        text-align: center;
        width: 90%; 
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-overlay h1 {
        font-size: 2vw;
        line-height: 2vw;
    }

    .text-overlay p {
        margin-top: 10px;
        font-size: 1vw;
        line-height: 3vw;
    }

    label {
        font-size: 0.9vw;
    }

    .scroll-textcolumn-item input[type="email"] {
        width: 100%;
        height: 2.5vw;
        padding: 8px;
        margin-bottom: 1vw;
        border: 2px solid #612B24;
        border-radius: 5px;
        background: linear-gradient(rgb(129, 106, 54, 0.25), rgb(214, 177, 96, 0.25));
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    button {
        background-color: #333;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 1vw;
        cursor: pointer;
    }

    @@media (max-width: 1504px) {
        .text-overlay h1 {
            margin: 0;
            font-size: 1.75vw;
            line-height: 1vw;
            padding-bottom: 0px;
        }

        .text-overlay h2 {
            margin: 0;
            font-size: 1.5vw;
            line-height: 1vw;
        }

        .text-overlay p {
            margin-top: 10px;
            font-size: 1.25vw;
            line-height: 1vw;
        }

        button {
            padding: 5px 10px;
            font-size: 1vw;
        }
    }

</style>
