@page "/ForgotPassword"
<PageTitle>ForgotPassword</PageTitle>
<title>Devil's Dice Tavern - Sign Up Confirmation</title>
<div class="centering">
    <div class="confirmation-container">
        <h2>OH NO!</h2>
        <p>We are currently having issues with this page!</p>
        <p>You should have written down your password! There is nothing we can do to help your right now.</p>
        <p>Please come back later, or try to remember your password!</p>
        <button>
            <a href="/Login" class="button-link">Log In</a>
        </button>
        <button>
            <a href="/" class="button-link">Return to Home</a>
        </button>
    </div>
</div>
<style>
    html, body {
        margin: 0px;
        padding: 0px;
        background-image: url("/imgs/signup_background3.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    html {
        overflow: hidden;
        height: 100%;
    }

    body {
        overflow: auto;
        height: 100%;
        overscroll-behavior: none;
    }
    .centering {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;    
    }
    
    .confirmation-container {
        width: 300px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 30px;
        background-image: url("/imgs/Scrolls/scroll.png");
        background-repeat: no-repeat;
        color: #5c4033;
        background-size: cover;
        background-position: center;
        text-align: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    .confirmation-container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .confirmation-container p {
        font-size: 16px;
        margin-bottom: 15px;
    
    .confirmation-container button {
        margin: 10px;
        padding: 10px 20px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .confirmation-container button:hover {
        background-color: #555;
    }
    .confirmation-container .login-link {
        margin-top: 10px;
        font-size: 14px;
    }
</style>