@page "/"

<PageTitle>Home</PageTitle>

<div class="mainheader">
    <div class="mainheader-text">
        <h1 style="font-size: 64px;">Welcome in....</h1>
        <p style="word-wrap: break-word; font-size: 32px;">As you enter the Devil's Dice Tavern, you will step into your fantasy, geared to meet your every DnD need.
            <br/>With our whimsical features and knickknacks galore, the possibilities are endless. 
            <br/>All yee Dungeon Masters and Players alike will leave content and astonished.
        </p>
    </div>
</div>

<style>
    html, body {
        margin: 0px;
        padding: 0px;
    }

    .mainheader {
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        background-image: linear-gradient(rgba(20, 20, 17, 0.50), rgba(20, 20, 17, 0.50)), url("/imgs/resizetest.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }

    .mainheader-text {
        text-align: center;
        color: white;
        font-family: Baskerville;
        padding-top: 200px;
        padding-bottom: 200px;
    }
</style>