@page "/"

<PageTitle>Home</PageTitle>

<div class="main-header">
    <h1>Welcome in....</h1>
    <p style="word-wrap: break-word">As you enter the Devil's Dice Tavern, you will step into your fantasy, geared to meet your every DnD need. 
        <br/>With our whimsical features and knickknacks galore, the possibilities are endless. 
        <br/>All yee Dungeon Masters and Players alike will leave content and astonished.
        </p>
</div>
