@page "/Lounge"
@inherits LayoutComponentBase

<div class="page">
    <article class="lounge-page">
        
        <div class="create-post">
            <a href="CreatePost" class="button">Create New Post</a>
        </div>

        <div class="posts-list">

        </div>
    </article>
</div>

<style>
    .page {
        background-image: url('https://wallpapercave.com/wp/wp2361283.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: Baskerville, Arial, Helvetica; 
    }
    .lounge-page {
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .lounge-title {
        font-size: 32px;
        font-family: Baskerville, Arial, Helvetica; 
        color: #246153;
        margin-bottom: 20px;
    }

    .create-post {
        text-align: center;
        margin-bottom: 20px;
    }

    .button {
        padding: 10px 20px;
        background-color: #246153;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .posts-container {
        background-image: url('https://th.bing.com/th/id/OIP.It_mLJgT7vasBABR4eGeTwHaIc?w=143&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7');
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
    }

    .posts-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .post-card {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
    }

    .post-thumbnail {
        margin-bottom: 15px;
    }

    .post-thumbnail-img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .post-title {
        font-size: 24px;
        font-weight: bold;
        color: #246153;
        cursor: pointer;
    }

    .post-meta {
        font-size: 14px;
        color: #888;
    }

    .post-image img {
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
    }

    .post-content {
        margin-top: 20px;
    }

    .post-content {
        display: none;
    }

    .post-expand-btn:hover {
        text-decoration: underline;
    }

    ul, ol {
        margin-left: 20px;
    }

    li {
        margin-bottom: 8px;
    }
</style>