@page "/shop"

<PageTitle>Shop</PageTitle>

<div class="shopheader">
    <div class="shopheader-text">
        <h1 style="font-size: 128px; padding-top: 165px; padding-bottom: 250px; margin-bottom: 0rem;">Shop</h1>
    </div>
</div>

<style>
    html, body {
        margin: 0px;
        padding: 0px;
    }

    .shopheader {
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        background-image: linear-gradient(rgba(20, 20, 17, 0.2), rgba(20, 20, 17, 1)), url("/imgs/aboutus_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }

    .shopheader-text {
        text-align: center;
        color: white;
        font-family: Baskerville;
    }   

</style>