@page "/SignUp"
<PageTitle>SignUp</PageTitle>
    <title>Devil's Dice Tavern - Sign Up</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap" rel="stylesheet">

<div class="page-container">
    <div class="mainbody">
        <div class="scroll-container">
            <div class="scroll-textcolumn-item">
                <img id="scroll-img" src="imgs/Scrolls/scroll.png" alt="Scroll">
                <div class="text-overlay">
                    <h1 style="font-size: 45px;" class="baskervville-sc-regular">Log In</h1>
                    <form>
                        <div class="name-fields">
                            <div>
                                <label for="first-name">First Name</label>
                                <input type="text" id="first-name" name="first-name" required>
                            </div>
                            <div>
                                <label for="last-name">Last Name</label>
                                <input type="text" id="last-name" name="last-name" required>
                            </div>
                        </div>

                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>

                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>

                        <div class="password-fields">
                            <div>
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" required>
                            </div>
                            <div>
                                <label for="re-password">Re-enter Password</label>
                                <input type="password" id="re-password" name="re-password" required>
                            </div>
                        </div>

                        <div class="dropdown-container">
                            <label for="role">Select Role</label>
                            <select id="role" name="role" required>
                            <option value="">Select</option>
                            <option value="DND Player">DND Player</option>
                            <option value="Dungeon Master">Dungeon Master</option>
                            </select>
                        </div>
                        <p>
                        <a href="login" class="login-link">Already have an account? Log In</a>
                        </p>
                        <a href="/SignUpConfirmation">
                            <button type="submit">Submit</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
   html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: Baskerville;
        overscroll-behavior: none;
        display: flex;
        flex-direction: column;
    }
    
    html {
        overflow: hidden;
        height: 100%;
    }

    .baskervville-sc-regular {
        font-family: "Baskervville SC", serif;
        font-weight: 400;
        font-style: normal;
    }

    .page-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .mainbody {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-image: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("/imgs/signup_background.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 235px;
        padding-right: 50px;
        padding-bottom: 235px; 
    }

    .mainbody-container {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .scroll-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 50px;
    }

    .scroll-textcolumn-item {
        position: relative; 
        width: 37%;  
        overflow: show;
        text-shadow: 0px 0px 4px #612B24;
    }

    .scroll-textcolumn-item img {
        width: 100%; 
        height: 260%;
        margin-top: -250px;  
        display: block;  
    }

    .text-overlay {
        position: absolute;
        top: 45%; 
        left: 50%;  
        transform: translate(-50%, -50%); 
        color: #612B24; 
        padding: 10px;
        text-align: center;
        width: 90%; 
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-overlay h1 {
        font-size: 2vw;
        line-height: 5vw;
    }

    .text-overlay p {
        margin-top: 10px;
        font-size: 1vw;
        line-height: 1vw;
    }

    label {
        font-size: 0.9vw;
    }

    .scroll-textcolumn-item input[type="text"] {
        width: 100%;
        height: 2.5vw;
        padding: 8px;
        margin-bottom: 1vw;
        border: 2px solid #612B24;
        border-radius: 5px;
        background: linear-gradient(rgb(129, 106, 54, 0.25), rgb(214, 177, 96, 0.25));
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scroll-textcolumn-item input[type="email"] {
        width: 100%;
        height: 2.5vw;
        padding: 8px;
        margin-bottom: 1vw;
        border: 2px solid #612B24;
        border-radius: 5px;
        background: linear-gradient(rgb(129, 106, 54, 0.25), rgb(214, 177, 96, 0.25));
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scroll-textcolumn-item input[type="password"] {
        width: 100%;
        height: 2.5vw;
        padding: 8px;
        margin-bottom: 1vw;
        border: 2px solid #612B24;
        border-radius: 5px;
        background: linear-gradient(rgb(129, 106, 54, 0.25), rgb(214, 177, 96, 0.25));
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    button {
        background-color: #000;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 1vw;
        cursor: pointer;
    }

    @@media (max-width: 1440px) {
    }

    @@media (max-width: 375px) {
        
        .mainbody {
            padding-top: 290px;
            padding-right: 50px;
            padding-bottom: 290px;  
        }

        #scroll-img{      
            content:url("imgs/Scrolls/scroll.png");
        } 
        
        .scroll-container {
            display: flex;
            justify-content: left;
            width: 312%;
            padding: 0px;
        }

        .scroll-textcolumn-item img {
            width: 100%; 
            height: 750%;
            margin-top: -250px;  
            display: block;  
        }

        .text-overlay h1 {
            font-size: 8vw !important;
            line-height: 5vw;
        }

        .text-overlay p {
            margin-top: 10px;
            font-size: 4vw;
            line-height: 2vw;
        }

        label {
            font-size: 4vw;
        }

        .scroll-textcolumn-item input[type="text"] {
            height: 4vh;
            padding: 8px;
            margin-bottom: 1vw;
            border: 3px solid #612B24;
            border-radius: 5px;
        }

        .scroll-textcolumn-item input[type="email"] {
            height: 4vh;
            padding: 8px;
            margin-bottom: 1vw;
            border: 3px solid #612B24;
            border-radius: 5px;
        }

        .scroll-textcolumn-item input[type="password"] {
            height: 4vh;
            padding: 8px;
            margin-bottom: 1vw;
            border: 3px solid #612B24;
            border-radius: 5px;
        }
    
        button {
            background-color: #333;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            font-size: 4vw;
            cursor: pointer;
        }

    }

</style>